extends layout 

block content 

	h1= title 
	p= itemInstance.item.description
	hr

	ul 	
		li.card-text #[strong Category: ] #[a(href=itemInstance.item.category.url) #[span.card-title #{itemInstance.item.category.name}]]
		li.card-text #[strong Serial Number: ] #{itemInstance.serialNumber}

		if itemInstance.status === 'Available'
			li.card-text #[strong Status: ] #[span.text-success #{itemInstance.status}]
		else if itemInstance.status === 'Maintenance'
			li.card-text #[strong Status: ] #[span.text-danger #{itemInstance.status}]
		else
			li.card-text #[strong Status: ] #[span.text-warning #{itemInstance.status}]
		
		if itemInstance.status !== 'Available' && itemInstance.dueBack !== null	
			li.card-text #[strong Due back: ] #{itemInstance.dueBackFormatted}
		if itemInstance.status !== 'Available' && itemInstance.dueBack === null	
			li.card-text No current due back date