extends layout 

block content 
	h1= title 
	hr

	ul
		each item in items 
			li
				.card
					.card-body 
						h2.card-title #[a(href=item.url) #{item.maker.name} #{item.model}] 
						ul
							li.card-text #[strong Description:] #{item.description}
							li.card-text #[strong Category:] #[a(href=item.category.url) #{item.category.name}]
						
						
				
		else 
			li There are no items