extends layout 

block content 

	h1= title 
	hr

	ul 
		each item in items 
			li
				.card 
					.card-body 
						h2.card-title #[a(href=item.url) #{item.maker.name} #{item.model}]
						p.card-text= item.description

		else 
			li There are no items from this maker

	hr
	a(href=`${maker.url}/delete`) #[button.btn.btn-primary Delete maker]
	a(href=`${maker.url}/update`) #[button.btn.btn-primary Update maker]